@model Moksha_App.Models.Stock

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (TempData["message"] != null && (bool)TempData["message"]==true)
    {
        <script>
            document.body.appendChild(globalAlertContainer);
            showAlert("✅ Login successful! Welcome, admin.<br>", "success");
        </script>
    }
}

<h1>Index</h1>

<div>
    <h4>Stock</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalBags)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalBags)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Material.ColorName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StockId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
